extends  layout

block content
  .inner 
    h2= title
    .map
      .autocomplete 
        input.autocomplete__input(type="text" placeholder="search for Anything" name="geolocate")
      #map
          p loading map